<div class="m-product-card">
    {%- liquid
        assign qty_rules = false
        if product.selected_or_first_available_variant.quantity_rule.min > 1 or product.selected_or_first_available_variant.quantity_rule.max != null or product.selected_or_first_available_variant.quantity_rule.increment > 1
        assign qty_rules = true
        endif
        
        assign section_id = section_id | default: section.id | default: 'm-product-card'
        assign product_form_id = 'quick-add-' | append: section_id | append: '-' | append: product.id
    -%}

    <div class="m-product-card-image" onclick="if (!event.target.closest('.filter-button')) { document.location = '{{ product.url }}'; }" style="background-image: url({{ product.featured_image | image_url: width: 500 }})">
      {%- if product.available == false -%}
        <div class="m-product-card-sold-out-badge">
          {{ 'products.product.sold_out' | t }}
        </div>
      {%- else -%}
        <button
          type="button"
          class="filter-button"
          data-quick-view-trigger
          data-product-id="{{ product.id }}"
          data-product-handle="{{ product.handle }}"
          data-product-title="{{ product.title | escape }}"
          data-product-price="{{ product.price }}"
          data-product-featured-image="{{ product.featured_image | image_url: width: 620 }}"
          data-product-url="{{ product.url }}"
          aria-label="Quick view for {{ product.title }}"
        >
          <div class="quick-view-icon" width="20" height="20">
            {{ 'eye.svg' | inline_asset_content }}
          </div>
        </button>
      {%- endif -%}
    </div>
    <div class="m-product-card-bottom">
        <div class="m-product-card-title">
            <h3>
                <a href="{{ product.url }}" class="m-product-card-title-text">
                    {{ product.title }}
                </a>
            </h3>
        </div>
        <div class="m-product-card-price-wrap">
            <div class="m-product-card-price">
                {%- capture _promo -%}{% render 'auto-discount-price', product: product %}{%- endcapture -%}
                {%- if _promo contains 'promo-price-block' -%}
                  {{ _promo }}
                {%- else -%}
                  {%- render 'price',
                    product: product,
                    use_variant: true,
                    show_badges: product.available
                  -%}
                {%- endif -%}
            </div>
        </div>
        <div class="m-product-card-add-to-cart no-js-hidden">
            {%- if product.available == false -%}
                <button
                    type="button"
                    class="m-product-card-notify-me-btn"
                    data-product-notify-trigger
                    data-product-id="{{ product.id }}"
                    data-product-title="{{ product.title | escape }}"
                    data-product-handle="{{ product.handle }}"
                    onclick="event.stopPropagation();"
                >
                    <span class="m-product-card-notify-me-text">Notify Me</span>
                </button>
            {%- elsif product.variants_count > 1 or qty_rules -%}
                <modal-opener data-modal="#QuickAdd-{{ product.id }}">
                    <button
                        id="{{ product_form_id }}-submit"
                        type="button"
                        class="m-product-card-add-to-cart-btn button button--full-width button--secondary"
                        aria-haspopup="dialog"
                        aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
                        data-product-url="{{ product.url }}"
                        onclick="event.stopPropagation();"
                    >
                        <span class="m-product-card-add-to-cart-text">Add to Cart</span>
                        {%- render 'loading-spinner' -%}
                    </button>
                </modal-opener>
                <quick-add-modal id="QuickAdd-{{ product.id }}" class="quick-add-modal">
                    <div
                        role="dialog"
                        aria-label="{{ 'products.product.choose_product_options' | t: product_name: product.title | escape }}"
                        aria-modal="true"
                        class="quick-add-modal__content global-settings-popup"
                        tabindex="-1"
                    >
                        <button
                            id="ModalClose-{{ product.id }}"
                            type="button"
                            class="quick-add-modal__toggle"
                            aria-label="{{ 'accessibility.close' | t }}"
                        >
                            {{- 'icon-close.svg' | inline_asset_content -}}
                        </button>
                        <div id="QuickAddInfo-{{ product.id }}" class="quick-add-modal__content-info"></div>
                    </div>
                </quick-add-modal>
            {%- else -%}
                <product-form data-section-id="{{ section.id }}">
                    {%- form 'product',
                        product,
                        id: product_form_id,
                        class: 'form',
                        novalidate: 'novalidate',
                        data-type: 'add-to-cart-form'
                    -%}
                        <input
                            type="hidden"
                            name="id"
                            value="{{ product.selected_or_first_available_variant.id }}"
                            class="product-variant-id"
                            {% if product.selected_or_first_available_variant.available == false %}
                                disabled
                            {% endif %}
                        >
                        <button
                            id="{{ product_form_id }}-submit"
                            type="submit"
                            name="add"
                            class="m-product-card-add-to-cart-btn"
                            aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
                            aria-live="polite"
                            data-sold-out-message="true"
                            {% if product.selected_or_first_available_variant.available == false %}
                                disabled
                            {% endif %}
                        >
                            <span class="m-product-card-add-to-cart-text">Add to Cart</span>
                            {%- render 'loading-spinner' -%}
                        </button>
                    {%- endform -%}
                </product-form>
            {%- endif -%}
        </div>
    </div>
</div>
