<div class="m-product-card">
    <div class="quick-add no-js-hidden">
    {%- liquid
        assign qty_rules = false
        if product.selected_or_first_available_variant.quantity_rule.min > 1 or product.selected_or_first_available_variant.quantity_rule.max != null or product.selected_or_first_available_variant.quantity_rule.increment > 1
        assign qty_rules = true
        endif
    -%}
    {%- if product.variants_count > 1 or qty_rules -%}
        <modal-opener data-modal="#QuickAdd-{{ product.id }}">
        <button
            id="{{ product_form_id }}-submit"
            type="submit"
            name="add"
            class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add animate-arrow{% endif %}"
            aria-haspopup="dialog"
            aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
            data-product-url="{{ product.url }}"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="#78686F">
                <path d="M25.5851 18.9681C26.873 18.9681 28.0063 18.264 28.5901 17.1994L34.7376 6.05492C35.373 4.92159 34.5487 3.51351 33.2437 3.51351H7.82952L6.21537 0.0791626H0.60022V3.51351H4.03456L10.2164 16.5468L7.8982 20.7367C6.64467 23.0378 8.29315 25.8367 10.9033 25.8367H31.5093V22.4024H10.9033L12.7921 18.9681H25.5851ZM9.46083 6.94785H30.3245L25.5851 15.5337H13.5305L9.46083 6.94785ZM10.9033 27.5539C9.01436 27.5539 7.48608 29.0994 7.48608 30.9883C7.48608 32.8772 9.01436 34.4226 10.9033 34.4226C12.7921 34.4226 14.3376 32.8772 14.3376 30.9883C14.3376 29.0994 12.7921 27.5539 10.9033 27.5539ZM28.075 27.5539C26.1861 27.5539 24.6578 29.0994 24.6578 30.9883C24.6578 32.8772 26.1861 34.4226 28.075 34.4226C29.9639 34.4226 31.5093 32.8772 31.5093 30.9883C31.5093 29.0994 29.9639 27.5539 28.075 27.5539Z" fill="#78686F"/>
            </svg>
            {%- render 'loading-spinner' -%}
        </button>
        </modal-opener>
        <quick-add-modal id="QuickAdd-{{ product.id }}" class="quick-add-modal">
        <div
            role="dialog"
            aria-label="{{ 'products.product.choose_product_options' | t: product_name: product.title | escape }}"
            aria-modal="true"
            class="quick-add-modal__content global-settings-popup"
            tabindex="-1"
        >
            <button
            id="ModalClose-{{ product.id }}"
            type="button"
            class="quick-add-modal__toggle"
            aria-label="{{ 'accessibility.close' | t }}"
            >
            {{- 'icon-close.svg' | inline_asset_content -}}
            </button>
            <div id="QuickAddInfo-{{ product.id }}" class="quick-add-modal__content-info"></div>
        </div>
        </quick-add-modal>
    {%- else -%}
        <product-form data-section-id="{{ section.id }}">
        {%- form 'product',
            product,
            id: product_form_id,
            class: 'form',
            novalidate: 'novalidate',
            data-type: 'add-to-cart-form'
        -%}
            <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}"
            class="product-variant-id"
            {% if product.selected_or_first_available_variant.available == false %}
                disabled
            {% endif %}
            >
            <button
            id="{{ product_form_id }}-submit"
            type="submit"
            name="add"
            class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
            aria-haspopup="dialog"
            aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
            aria-live="polite"
            data-sold-out-message="true"
            {% if product.selected_or_first_available_variant.available == false %}
                disabled
            {% endif %}
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="#78686F">
                <path d="M25.5851 18.9681C26.873 18.9681 28.0063 18.264 28.5901 17.1994L34.7376 6.05492C35.373 4.92159 34.5487 3.51351 33.2437 3.51351H7.82952L6.21537 0.0791626H0.60022V3.51351H4.03456L10.2164 16.5468L7.8982 20.7367C6.64467 23.0378 8.29315 25.8367 10.9033 25.8367H31.5093V22.4024H10.9033L12.7921 18.9681H25.5851ZM9.46083 6.94785H30.3245L25.5851 15.5337H13.5305L9.46083 6.94785ZM10.9033 27.5539C9.01436 27.5539 7.48608 29.0994 7.48608 30.9883C7.48608 32.8772 9.01436 34.4226 10.9033 34.4226C12.7921 34.4226 14.3376 32.8772 14.3376 30.9883C14.3376 29.0994 12.7921 27.5539 10.9033 27.5539ZM28.075 27.5539C26.1861 27.5539 24.6578 29.0994 24.6578 30.9883C24.6578 32.8772 26.1861 34.4226 28.075 34.4226C29.9639 34.4226 31.5093 32.8772 31.5093 30.9883C31.5093 29.0994 29.9639 27.5539 28.075 27.5539Z" fill="#78686F"/>
            </svg>
            {%- render 'loading-spinner' -%}
            </button>
        {%- endform -%}
        </product-form>
    {%- endif -%}
    </div>

    <div class="m-product-card-image" onclick="document.location = '{{ product.url }}';" style="background-image: url({{ product.featured_image | img_url: 'master' }})">
        <div class="m-product-card-top"></div>
    </div>
    <div class="m-product-card-bottom">
        <div class="card__badge">
        {%- if product.available == false -%}
            <span
            id="NoMediaStandardBadge-{{ section_id }}-{{ product.id }}"
            class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
            >
            {{- 'products.product.sold_out' | t -}}
            </span>
        {% endif %}    
        </div>
        <div class="m-product-card-title">
            <h3>
                <a href="{{ product.url }}" class="m-product-card-title-text">
                    {{ product.title }}
                </a>
            </h3>
        </div>
        <div class="m-product-card-price-wrap">
            <div class="m-product-card-price">
                {%- capture _promo -%}{% render 'auto-discount-price', product: product %}{%- endcapture -%}
                {%- if _promo contains 'promo-price-block' -%}
                  {{ _promo }}
                {%- else -%}
                  {%- render 'price',
                    product: product,
                    use_variant: true,
                    show_badges: true,
                    price_class: 'price--large'
                  -%}
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
