<div class="m-special-jewelry-hero">
    <h1>{{ section.settings.heading }}</h1>
</div>

<style>
.m-special-jewelry-hero-section {
    width: 100%;
   {% assign overlay_color = section.settings.overlay_color | default: '#b1b1b1' %}
    background: linear-gradient(41deg, {{ overlay_color | color_modify: 'alpha', 0.80 }} 19.13%, {{ overlay_color | color_modify: 'alpha', 0.75 }} 23.05%, {{ overlay_color | color_modify: 'alpha', 0 }} 51.78%), url({{ section.settings.back_image | img_url: 'master' }}) lightgray no-repeat;
    background-size: cover;
    background-position: center;
    height: 28vw;
    position: relative;
    background-size: cover;
    background-position: center;
}
.m-special-jewelry-hero {
    position: absolute;
    left: 35px;
    bottom: 0;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.m-special-jewelry-hero h1 {
    color: {{ section.settings.text_color }};
    font-family: Legitima;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 96%; /* 46.08px */
}

@media only screen and ( min-width: 1921px ) {
    .m-special-jewelry-hero h1 {
        font-size: 3.3vw;
    }
}

@media only screen and ( max-width: 1439px ) {
    .m-special-jewelry-hero h1 {
        font-size: 3.3vw;
    }
}

@media only screen and ( max-width: 749px ) {
    .m-special-jewelry-hero-section {
        background: linear-gradient(0deg, rgba(177, 177, 177, 0.80) 0.17%, rgba(177, 177, 177, 0.75) 33.34%, rgba(177, 177, 177, 0.00) 100.17%), url({{ section.settings.back_image | img_url: 'large' }}) lightgray no-repeat;
        background-size: cover;
        background-position: center;
        height: 150px;
    }
    .m-special-jewelry-hero {
        position: absolute;
        left: 20px;
        bottom: 0;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .m-special-jewelry-hero h1 {
        font-family: Legitima;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 96%; /* 34.56px */
    }
}

@media only screen and ( max-width: 480px ) {
    .m-special-jewelry-hero h1 {
        font-size: 28px;
    }
}

</style>

{% schema %}
{
    "name": "Special fine jewelry hero",
    "tag": "section",
    "class": "m-special-jewelry-hero-section",
    "settings": [
        {
            "type": "image_picker",
            "id": "back_image",
            "label": "Background image"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#000"
        },
        {
            "type": "color",
            "id": "overlay_color",
            "label": "Overlay color"
        }
    ],
    "presets": [
        {
            "name": "Special fine jewelry hero"
        }
    ]
}
{% endschema %}
